@font-face {
    font-family: "MyRoboto";
    src: url('/styles/RobotoCondensed-Regular.ttf');
}

body {
	background: white;
	font-family: 'MyRoboto', sans-serif;
	font-size: 18px;
	color: black;
}

h1 {
	font-size: 24px;
	color: black;
}

h2 {
	font-size: 24px;
	color: black;
}

.serverListTable {
	width: 75%;
}
table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
}
th {
	padding: 5px;
	text-align: left;
}
td {
	background-clip: border-box;
	padding: 5px;
}

a {
	color: white;
}
a.visited {
	color: #EC7063;
}
a:hover {
	color: white;
}
a:active {
	color: #F1948A;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #9B59B6;
}
	
li {
	float: left;
}
	
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
}
	
li a:hover {
	background-color: #76448A;
}

.content {
	margin: auto;
	padding: 10px;
}
@media screen and (min-width: 900px) {
	.content {
		max-width: 900px;
  		margin: auto;
		padding: 10px;
	}
	.neon-text {
		max-width: 900px;
	}
}